body
{
    background-color: mediumpurple;
    font-family: "Bodoni MT Black";
    font-size: 40px;
    text-align: center;

}



button
{
    background-color: red;
}

table{
    font-size: 20px;
    border: 20px solid black;
    background-color: lightseagreen;
    margin-left: 550px;

}

.QuizTitle{
    font-size: 30px;
}

.QuizDescription{
    color: royalblue;
}


.alertQuizName{
    margin-bottom: 20px;
}

tr{
    font-size: 15px;
    color: black;
}

.Toolbar{
    border: 15px solid black;
    background-color: black;
}

#ProfileButton{
    font-size: 37px;
    background-color: cornflowerblue;
}

#LogOutButton{
    font-size: 37px;
    background-color: cornflowerblue;

}

#CustomQuizButton{
    font-size: 37px;
    background-color: cornflowerblue;
    margin-left: 120px;
    margin-right: 120px;
}